#full{
	width:100%;
	height: auto;
}
#inner_full{
	width: 100%;
	height: auto;
}
#header{
	width: 100%;
	height:50px ;
	background-color: red;
	overflow-x: hidden;
}
#body{
	width: 100%;
	height: 400px;
	overflow-x: hidden;
	background-image: url('image.png');
}
#footer{
	width: 100%;
	height: 70px;
	background-color:red;
}
ul.menu {
  display: flex;
  flex-wrap: wrap;         /* wraps to next row if needed */
  justify-content: center; /* centers the items */
  gap: 20px;               /* spacing between items */
  padding: 0;
  list-style: none;        /* removes bullet points */
  margin-top: 30px;
}

ul.menu li {
  background-color: red;
  width: 50px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 30px;
  font-weight: bold;
  transition: background 0.3s;
}

ul.menu li:hover {
  background: red;
  cursor: pointer;
}

ul.menu li a {
  color: white;
  text-decoration: none;
  display: block; /* makes entire <li> clickable */
  width: 100%;
  height: 100%;
}
.welcome{
	display: flex;
	justify-content: center;
	align-items: center;
}
#form{
	overflow-y: scroll;
	width: 80%;
	height:300px ;
	background-color: red;
	border-radius: 15px;
}
